.profile{
    background-color: rgba(232, 234, 235, 0.897);
    padding:5px 0 10px 0 ;
    text-align: center;
    width:50%;
    margin-left: 25%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom:25px;
    border-radius: 20px;
    height:400px;
    box-shadow: 6px 6px 6px rgb(209, 209, 209);
}

.input{
    width: 300px;
}